/*
 * custom css
 */
a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}
.bar7 form {
    height: 42px;
    position: relative;
    width: 30px;
    margin: 0 auto;
}
.bar7 input {
    width: 180px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #F9F0DA;
    transition: .3s linear;
    float: right;
    height: 42px;
    padding-left: 13px;
    border: none;
    outline: none;
}
.bar7 input:focus {
    width: 240px;
}
.bar7 button {
    background: none;
    top: -2px;
    right: 0;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
}
.bar7 button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}